$bg-default-color: #1a1a1a;
$text-default-color: #fff;

$toxic-color: #d8f520;

$text-gray: #8B8B8B;
$border-gray: #555555;

$text-no-white-color: #EFEFEF;

$bg-light-gray: #363638;
$bg-gray: #1F1F20;
