$toxic-color: #d8f520;
$light-toxic-color: rgba(216, 245, 32, 0.19);

$default-white: #fff;
$text-black: #252529;
$text-gray: #8b8b8b;
$text-light-gray: #d8d8d8;
$text-no-white-color: #efefef;

$border-darkness-gray: #484848;
$border-gray: #555555;
$border-light-gray: #5e5e5e;
$border-no-light-gray: #5c5c5c;

$bg-default-color: #1a1a1a;
$bg-dark: #171717;
$bg-no-black: #191919;
$bg-gray: #1f1f20;
$bg-no-light-gray: #252529;
$bg-light-gray: #363638;
