$toxic-color: #d8f520;

$text-default-color: #fff;
$text-black: #252529;
$text-gray: #8B8B8B;
$text-light-gray: #D8D8D8;
$text-no-white-color: #EFEFEF;

$border-darkness-gray: #484848;
$border-gray: #555555;
$border-light-gray: #5E5E5E;

$bg-default-color: #1a1a1a;
$bg-no-black: #191919;
$bg-gray: #1F1F20;
$bg-no-light-gray: #252529;
$bg-light-gray: #363638;
