@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #1a1a1a;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

main {
  position: relative;
}
main .container {
  max-width: 1180px;
  padding-top: 50px;
  padding-bottom: 70px;
}
main .container .content {
  position: relative;
  z-index: 1;
}
main .container .content .content-first {
  max-width: 485px;
  color: #b7b7b7;
  font-family: Open Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  main .container .content .content-first {
    max-width: 80%;
  }
}
@media screen and (max-width: 430px) {
  main .container .content .content-first {
    max-width: 65%;
  }
}
main .container .content .content-last {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  main .container .content .content-last {
    margin-top: 32px;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 430px) {
  main .container .content .content-last {
    margin-top: unset;
    flex-direction: column;
  }
}
main .container .content .content-last .image-block {
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 768px) {
  main .container .content .content-last .image-block {
    margin-right: 37px;
    margin-left: -37px;
    margin-top: -50px;
  }
}
@media screen and (max-width: 430px) {
  main .container .content .content-last .image-block {
    margin-right: unset;
    margin-left: unset;
    margin-top: unset;
  }
}
main .container .content .content-last .image-block .image-absolute {
  right: 0;
  top: -25%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  main .container .content .content-last .image-block .image-absolute {
    width: 100px;
  }
}
main .container .content .content-last .image-block .image-no-absolute {
  width: 100%;
}
main .container .content .content-last .content-last-wrapper {
  flex: auto;
  margin-bottom: 125px;
  max-width: 310px;
  margin-left: -50px;
}
@media screen and (max-width: 768px) {
  main .container .content .content-last .content-last-wrapper {
    max-width: 220px;
    margin-left: unset;
  }
}
@media screen and (max-width: 430px) {
  main .container .content .content-last .content-last-wrapper {
    max-width: unset;
    margin-bottom: unset;
  }
}
main .container .content .content-last .content-last-wrapper .description-content {
  color: #b7b7b7;
  font-family: Open Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .container .content .content-last .content-last-wrapper .button {
  margin-top: 16px;
  padding: 16px;
  width: 100%;
}
main .background-gradient {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(216, 245, 32, 0.12) 0%, rgba(216, 245, 32, 0) 75.89%);
}
main .background-image {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  main .background-image {
    display: none;
  }
}

section {
  padding: 72px 0;
}
@media screen and (max-width: 768px) {
  section {
    padding: 56px 0 !important;
  }
}
@media screen and (max-width: 430px) {
  section {
    padding: 24px 0 !important;
  }
}
section[no-style] {
  padding: 0 !important;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: #d8f520 1px solid;
  backdrop-filter: blur(5.5px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(25, 25, 25, 0.74);
}
header .header {
  padding: 23px 40px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  header .header {
    justify-content: space-between;
  }
}
header .header .nav-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  header .header .nav-block {
    display: none;
  }
}
header .header .nav-block nav {
  border-radius: 50px;
  background: #252529;
  padding: 16px 64px;
  display: flex;
  gap: 40px;
}
header .header .nav-block nav a,
header .header .nav-block nav p {
  font-family: Open Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
header .header .nav-block nav a:hover,
header .header .nav-block nav p:hover {
  color: #d8f520;
}
header .header .nav-block .buttons-block {
  display: flex;
  gap: 8px;
}
header .header .button-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .header .button-wrapper .btn-call {
  display: none;
  padding: 8px;
  border-radius: 100%;
  border: 1px solid #d8f520;
}
@media screen and (max-width: 768px) {
  header .header .button-wrapper .btn-call {
    display: block;
  }
}
header .header .button-wrapper .burger-btn {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  header .header .button-wrapper .burger-btn {
    display: block;
  }
}
header .header .button-wrapper .burger-btn .icon-open {
  display: none;
}
@media screen and (max-width: 768px) {
  header .header {
    padding: 16px;
  }
}
header .menu {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: calc(-100vh + 100%);
  overflow: scroll;
}
header .menu .menu-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  background: #1f1f20;
}
@media screen and (max-width: 768px) {
  header .menu .menu-wrapper {
    display: flex;
  }
}
@media screen and (max-width: 430px) {
  header .menu .menu-wrapper {
    display: block;
  }
}
header .menu .menu-wrapper .menu-content {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  flex: 2;
}
header .menu .menu-wrapper .menu-content .menu-link {
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 18px;
}
header .menu .menu-wrapper .menu-content .menu-link:first-child {
  margin-top: 23px;
}
header .menu .menu-wrapper .menu-content .menu-dropdown {
  margin-top: 18px;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-title {
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-title:after {
  content: url("./../image/header/chevron-down.svg");
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content {
  display: none;
  flex-direction: column;
  width: 200px;
  gap: 5px;
  margin-top: 18px;
  flex: 1;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown {
  padding: 16px;
  background: #363638;
  display: inline-block;
  border-radius: 100px;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown .menu-child-title {
  font-family: Open Sans, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown .menu-child-title:after {
  content: url("./../image/header/chevron-down.svg");
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown .menu-child-content {
  display: none;
  flex-direction: column;
  margin-top: 8px;
  gap: 16px;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown .menu-child-content .menu-child-link {
  font-family: Open Sans, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown.open {
  border-radius: 24px;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown.open .menu-child-title {
  color: #d8f520;
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown.open .menu-child-title:after {
  content: url("./../image/header/chevron-down-green.svg");
}
header .menu .menu-wrapper .menu-content .menu-dropdown .dropdown-content .menu-child-dropdown.open .menu-child-content {
  display: flex;
}
header .menu .menu-wrapper .menu-content .menu-dropdown.open .dropdown-title {
  color: #d8f520;
}
header .menu .menu-wrapper .menu-content .menu-dropdown.open .dropdown-title:after {
  content: url("./../image/header/chevron-down-green.svg");
}
header .menu .menu-wrapper .menu-content .menu-dropdown.open .dropdown-content {
  display: flex;
}
header .menu .menu-wrapper .menu-buttons {
  margin-right: 32px;
  margin-left: 32px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media screen and (max-width: 430px) {
  header .menu .menu-wrapper .menu-buttons {
    border-top: rgba(216, 245, 32, 0.19) 1px solid;
    margin-top: 40px;
  }
}
header .menu .menu-wrapper .menu-buttons .button {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 8px 16px;
}
header.open-burger {
  backdrop-filter: unset;
  box-shadow: unset;
  background: unset;
}
header.open-burger .header {
  backdrop-filter: blur(5.5px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(25, 25, 25, 0.74);
}
header.open-burger .header .button-wrapper .burger-btn .icon-close {
  display: none;
}
header.open-burger .header .button-wrapper .burger-btn .icon-open {
  display: block;
}
header.open-burger .menu {
  display: block;
}
header .services-header {
  display: none;
  position: absolute;
  background: #252529;
  box-shadow: 0 40px 37px -40px rgba(216, 245, 32, 0.28);
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: #d8f520 1px solid;
}
header .services-header .container {
  padding-top: 40px;
  padding-bottom: 44px;
  display: flex;
}
header .services-header .container .section-services {
  flex: 1;
}
header .services-header .container .section-services .section-header {
  font-family: Open Sans, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .services-header .container .section-services .section-header[hover]:hover {
  color: #d8f520;
}
header .services-header .container .section-services .section-header[link] p {
  border-radius: 100%;
  border: #fff 1px solid;
  width: 32px;
  height: 32px;
  position: relative;
}
header .services-header .container .section-services .section-header[link] p::after {
  content: url("./../image/common/arrow-up-right-white.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: -20%;
  left: 4px;
}
header .services-header .container .section-services .section-header[hover][link]:hover p {
  border-color: #d8f520;
  background: #d8f520;
}
header .services-header .container .section-services .section-header[hover][link]:hover p::after {
  content: url("./../image/common/arrow-up-right.svg");
}
header .services-header .container .section-services .content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
header .services-header .container .section-services .content a {
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #d8d8d8;
}
header .services-header .container .section-services .content a:before {
  content: "// ";
}
header .services-header .container .section-services:not(:first-child) {
  padding-left: 130px;
  border-left: #5c5c5c 1px solid;
}
header[open-services] .services-header {
  display: block;
}
header[open-services] .open-header-services {
  color: #d8f520;
}

.container-inner, .container {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
}

.button {
  padding: 8px 16px;
  border-radius: 100px;
  border: #d8f520 1px solid;
  color: #d8f520;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Open Sans, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.button-active {
  color: #252529 !important;
  background-color: #d8f520 !important;
}

.button-rounded {
  border: none;
  border-radius: 100%;
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rounded[border] {
  border: #d8f520 1px solid;
}

.button-active img[active] {
  display: block;
}
.button-active img[no-active] {
  display: none;
}

.button:not(.button-active) img[active],
.button-rounded:not(.button-active) img[active] {
  display: none;
}
.button:not(.button-active) img[no-active],
.button-rounded:not(.button-active) img[no-active] {
  display: block;
}

.h3-title, .h2-title {
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h2-title {
  font-size: 40px;
  text-transform: uppercase;
}

.h3-title {
  font-size: 16px;
}

.text-toxic {
  color: #d8f520;
}

.text-gray {
  color: #8b8b8b;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

#passport {
  background: #1f1f20;
}
#passport .container .content {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  #passport .container .content {
    gap: 20px;
  }
}
@media screen and (max-width: 430px) {
  #passport .container .content {
    flex-direction: column;
  }
}
#passport .container .content .card {
  background: #363638;
  padding: 24px;
  border-radius: 32px;
}
@media screen and (max-width: 768px) {
  #passport .container .content .card {
    border-radius: 16px;
  }
}
#passport .container .content .card-title {
  color: #d8f520;
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#passport .container .content .card-description {
  margin-top: 16px;
  font-family: Open Sans, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#passport .container .content .first-block {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  #passport .container .content .first-block {
    flex: unset;
    gap: 24px;
  }
}
#passport .container .content .first-block .card {
  padding: 36px 24px;
  display: flex;
  gap: 16px;
  border-radius: 16px;
}
@media screen and (max-width: 768px) {
  #passport .container .content .first-block .card {
    padding: 24px;
  }
}
#passport .container .content .main-block {
  flex: 4;
}
@media screen and (max-width: 768px) {
  #passport .container .content .main-block {
    flex: unset;
  }
}
#passport .container .content .main-block .card-content {
  margin-top: 22px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #passport .container .content .main-block .card-content {
    display: block;
    justify-content: unset;
  }
}
@media screen and (max-width: 768px) {
  #passport .container .content .main-block .card-content img {
    width: 100%;
  }
}
#passport .container .content .last-block {
  flex: 4;
}
@media screen and (max-width: 768px) {
  #passport .container .content .last-block {
    flex: unset;
  }
}
#passport .container .content .last-block .card-content {
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 430px) {
  #passport .container .content .last-block .card-content {
    margin-top: 32px;
  }
}
#passport .container .content .last-block .card-content .rows {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
}
@media screen and (max-width: 768px) {
  #passport .container .content .last-block .card-content .rows {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
}
@media screen and (max-width: 430px) {
  #passport .container .content .last-block .card-content .rows {
    grid-template-columns: repeat(3, 1fr);
  }
}
#passport .container .content .last-block .card-content .rows img {
  justify-self: center;
}
@media screen and (max-width: 768px) {
  #passport .container .content .last-block .card-content .rows img:nth-last-child(-n+3) {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  #passport .container .content .last-block .card-content .rows img:nth-last-child(-n+3) {
    display: block;
  }
}

#goals .container .content {
  margin-top: 40px;
  display: flex;
  gap: 56px;
}
@media screen and (max-width: 768px) {
  #goals .container .content {
    gap: 20px;
  }
}
@media screen and (max-width: 430px) {
  #goals .container .content {
    flex-direction: column;
  }
}
#goals .container .content .card {
  flex: auto;
  border: #d8f520 1px solid;
  border-radius: 16px;
  padding: 24px;
}
#goals .container .content .card img {
  margin-bottom: 24px;
}
#goals .container .content .card .card-title {
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#goals .container .content .card .card-description {
  margin-top: 16px;
  font-family: Open Sans, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-break: break-all;
}

#we-are {
  background: #1f1f20;
}
#we-are .container .content {
  margin-top: 40px;
  display: flex;
  gap: 86px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #we-are .container .content {
    gap: 20px;
  }
}
@media screen and (max-width: 430px) {
  #we-are .container .content {
    flex-direction: column;
  }
}
#we-are .container .content .image-block {
  display: flex;
  align-items: center;
  gap: 18px;
}
@media screen and (max-width: 430px) {
  #we-are .container .content .image-block {
    gap: 10px;
    justify-content: center;
  }
  #we-are .container .content .image-block img {
    width: 150px;
  }
}
#we-are .container .content .description-block {
  max-width: 505px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  #we-are .container .content .description-block {
    max-width: unset;
    gap: 16px;
  }
}
#we-are .container .content .description-block .title {
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#we-are .container .content .description-block .description {
  font-family: Open Sans, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #d8d8d8;
}
@media screen and (max-width: 768px) {
  #we-are .container .content .description-block .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #we-are .container .content .description-block .button {
    width: 100%;
  }
}

#we-are2 .container .content {
  margin-top: 40px;
  display: flex;
}
@media screen and (max-width: 768px) {
  #we-are2 .container .content {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
#we-are2 .container .content .description-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#we-are2 .container .content .description-block .title {
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#we-are2 .container .content .description-block .description {
  margin-top: 32px;
  color: #d8d8d8;
  font-family: Open Sans, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  #we-are2 .container .content .description-block .description {
    margin-top: 24px;
  }
}
#we-are2 .container .content .description-block .list {
  margin-top: 56px;
  color: #d8d8d8;
  font-family: Open Sans, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: disc;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  #we-are2 .container .content .description-block .list {
    margin-top: 48px;
  }
}
@media screen and (max-width: 430px) {
  #we-are2 .container .content .description-block .list {
    margin-top: 32px;
  }
}
@media screen and (max-width: 768px) {
  #we-are2 .container .content .image-block img {
    width: 100%;
  }
}

#we-are3 {
  background: #1f1f20;
  position: relative;
  overflow-x: hidden;
}
#we-are3 .container {
  position: relative;
  z-index: 1;
}
#we-are3 .container .content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  #we-are3 .container .content {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 430px) {
  #we-are3 .container .content {
    flex-direction: column;
    gap: unset;
  }
}
#we-are3 .container .content .image-block {
  position: relative;
}
@media screen and (max-width: 430px) {
  #we-are3 .container .content .image-block {
    display: inline-flex;
    justify-content: center;
  }
}
#we-are3 .container .content .image-block .small-image {
  position: absolute;
  bottom: -30px;
  right: -50%;
}
@media screen and (max-width: 430px) {
  #we-are3 .container .content .image-block .small-image {
    width: 105px;
    bottom: 0;
    right: 50px;
  }
}
@media screen and (max-width: 430px) {
  #we-are3 .container .content .image-block .big-image {
    width: 185px;
  }
}
#we-are3 .container .content .description-block {
  margin-top: 50px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media screen and (max-width: 768px) {
  #we-are3 .container .content .description-block {
    margin-top: unset;
  }
}
@media screen and (max-width: 430px) {
  #we-are3 .container .content .description-block {
    margin-top: 20px;
  }
}
#we-are3 .container .content .description-block .title {
  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#we-are3 .container .content .description-block .description {
  color: #d8d8d8;
  font-family: Open Sans, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  #we-are3 .container .content .description-block .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 430px) {
  #we-are3 .container .content .description-block .description {
    margin: 24px 0;
  }
}
@media screen and (max-width: 768px) {
  #we-are3 .container .content .description-block .button {
    width: 100%;
  }
}
#we-are3 .background-image {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(25%, -25%, 0);
}

#order-the-service {
  position: relative;
  padding-top: 100px !important;
  padding-bottom: 150px !important;
}
@media screen and (max-width: 768px) {
  #order-the-service {
    padding-top: 65px !important;
    padding-bottom: 124px !important;
  }
}
@media screen and (max-width: 430px) {
  #order-the-service {
    padding-top: 40px !important;
    padding-bottom: 64px !important;
  }
}
#order-the-service #particles-js-duplicate {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
#order-the-service .modal {
  border-radius: 32px;
  background: rgba(34, 34, 35, 0.44);
  backdrop-filter: blur(6.5px);
  padding: 90px 105px;
}
@media screen and (max-width: 768px) {
  #order-the-service .modal {
    padding: 40px 24px;
  }
}
#order-the-service .modal .content {
  display: flex;
  gap: 50px;
  margin-top: 40px;
  font-family: Open Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 430px) {
  #order-the-service .modal .content {
    flex-direction: column;
    gap: 24px;
  }
}
#order-the-service .modal .content .textarea-base, #order-the-service .modal .content .select-base .dropdown-body, #order-the-service .modal .content .select-base, #order-the-service .modal .content .input-base {
  border-radius: 32px;
  box-shadow: 0 0 5px 0 rgba(216, 245, 32, 0.4);
  background: #191919;
  padding: 16px;
  display: flex;
}
#order-the-service .modal .content .textarea-base textarea::placeholder, #order-the-service .modal .content .select-base .select-text, #order-the-service .modal .content .input-base input::placeholder {
  color: #8b8b8b;
}
#order-the-service .modal .content .input-base input {
  all: unset;
  margin-left: 10px;
  width: 100%;
}
#order-the-service .modal .content .select-base {
  cursor: pointer;
  position: relative;
}
#order-the-service .modal .content .select-base .select-text {
  height: 100%;
  margin-left: 10px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
#order-the-service .modal .content .select-base .dropdown-arrow {
  margin-left: auto;
}
#order-the-service .modal .content .select-base .dropdown-body {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  display: none;
  margin-top: 2px;
  cursor: default;
  background-color: #252529;
  overflow-x: hidden;
}
#order-the-service .modal .content .select-base .dropdown-body .dropdown {
  margin: 0;
}
#order-the-service .modal .content .select-base .dropdown-body .dropdown .dropdown-item {
  cursor: pointer;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 32px;
}
#order-the-service .modal .content .select-base .dropdown-body .dropdown .dropdown-item:hover {
  background: #d8f520;
  color: #252529;
}
#order-the-service .modal .content .select-base .dropdown-body .dropdown .dropdown-item:not(:last-child) {
  border-bottom: #484848 1px solid;
}
#order-the-service .modal .content .select-base.select-open .dropdown-body {
  display: block;
}
#order-the-service .modal .content .select-base.select-open .dropdown-arrow {
  rotate: 180deg;
}
#order-the-service .modal .content .textarea-base textarea {
  all: unset;
  width: 100%;
  height: 100%;
}
#order-the-service .modal .content .inputs-block-1,
#order-the-service .modal .content .inputs-block-2 {
  flex: 1;
}
#order-the-service .modal .content .inputs-block-1 .input-base:not(:last-child),
#order-the-service .modal .content .inputs-block-1 .textarea-base:not(:last-child),
#order-the-service .modal .content .inputs-block-1 .select-base:not(:last-child),
#order-the-service .modal .content .inputs-block-1 .button:not(:last-child),
#order-the-service .modal .content .inputs-block-2 .input-base:not(:last-child),
#order-the-service .modal .content .inputs-block-2 .textarea-base:not(:last-child),
#order-the-service .modal .content .inputs-block-2 .select-base:not(:last-child),
#order-the-service .modal .content .inputs-block-2 .button:not(:last-child) {
  margin-bottom: 24px;
}
#order-the-service .modal .content .inputs-block-2 .button {
  width: 100%;
}
#order-the-service .modal .content .button {
  padding: 16px;
  font-family: Open Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

footer {
  background: #252529;
}
footer .footer-start-block {
  padding: 60px 0;
}
footer .footer-start-block .container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  footer .footer-start-block .container {
    flex-wrap: wrap;
  }
}
footer .footer-start-block .container .about-block {
  max-width: 310px;
}
@media screen and (max-width: 768px) {
  footer .footer-start-block .container .about-block {
    width: 100%;
    max-width: unset;
    margin-bottom: 48px;
    display: flex;
    gap: 24px;
  }
}
@media screen and (max-width: 430px) {
  footer .footer-start-block .container .about-block {
    flex-direction: column;
  }
}
footer .footer-start-block .container .about-block .about .title {
  margin-top: 57px;
  margin-bottom: 17px;
}
@media screen and (max-width: 768px) {
  footer .footer-start-block .container .about-block .about .title {
    margin: 0;
  }
}
footer .footer-start-block .container .about-block .about .content {
  font-family: Open Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-start-block .container .navigation-block {
  max-width: 405px;
  width: 100%;
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  footer .footer-start-block .container .navigation-block {
    width: 50%;
  }
}
@media screen and (max-width: 430px) {
  footer .footer-start-block .container .navigation-block {
    width: 100%;
    margin-bottom: 40px;
  }
}
footer .footer-start-block .container .navigation-block .sitemap-block,
footer .footer-start-block .container .navigation-block .services-block {
  flex: 1;
}
footer .footer-start-block .container .navigation-block .sitemap-block h3,
footer .footer-start-block .container .navigation-block .services-block h3 {
  margin-bottom: 16px;
}
footer .footer-start-block .container .navigation-block .sitemap-block a,
footer .footer-start-block .container .navigation-block .services-block a {
  display: block;
  font-family: Open Sans, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
footer .footer-start-block .container .navigation-block .sitemap-block a:before,
footer .footer-start-block .container .navigation-block .services-block a:before {
  content: "// ";
  color: #d8f520;
}
footer .footer-start-block .container .navigation-block .sitemap-block a:not(:first-child),
footer .footer-start-block .container .navigation-block .services-block a:not(:first-child) {
  padding-top: 8px;
}
footer .footer-start-block .container .navigation-block .sitemap-block a:not(:last-child),
footer .footer-start-block .container .navigation-block .services-block a:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: #484848 1px solid;
}
footer .footer-start-block .container .navigation-block .toxic-tape {
  width: 1px;
  margin-top: 32px;
  margin-right: 32px;
  margin-left: 40px;
  height: calc(100% - 32px);
  background-color: #d8f520;
}
footer .footer-start-block .container .contacts-block {
  max-width: 336px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  footer .footer-start-block .container .contacts-block {
    width: 50%;
  }
}
@media screen and (max-width: 430px) {
  footer .footer-start-block .container .contacts-block {
    width: 100%;
    max-width: unset;
  }
}
footer .footer-start-block .container .contacts-block .contact-item {
  margin: 24px 0;
}
footer .footer-start-block .container .contacts-block .contact-item .name {
  color: #8b8b8b;
  font-family: Open Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-start-block .container .contacts-block .contact-item .value {
  color: #efefef;
  font-family: Open Sans, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-start-block .container .contacts-block .button-to-form {
  padding: 16px;
}
@media screen and (max-width: 430px) {
  footer .footer-start-block .container .contacts-block .button-to-form {
    width: 100%;
  }
}
footer .footer-end-block {
  padding: 16px 0;
  border-top: #5e5e5e 1px solid;
}
footer .footer-end-block .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-end-block .container .text-block {
  display: flex;
  color: #8b8b8b;
  height: 27px;
}
@media screen and (max-width: 430px) {
  footer .footer-end-block .container .text-block {
    flex-direction: column;
  }
}
footer .footer-end-block .container .text-block .first-text {
  padding-right: 40px;
  border-right: #484848 1px solid;
}
@media screen and (max-width: 430px) {
  footer .footer-end-block .container .text-block .first-text {
    padding-right: unset;
    border-right: unset;
  }
}
footer .footer-end-block .container .text-block .last-text {
  padding-left: 30px;
}
@media screen and (max-width: 430px) {
  footer .footer-end-block .container .text-block .last-text {
    padding-left: unset;
  }
}
footer .footer-end-block .container .text-block .first-text,
footer .footer-end-block .container .text-block .last-text {
  display: flex;
  align-items: center;
}
footer .footer-end-block .container .image-block {
  gap: 8px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
