@import "var";
@import "fonts";
@import "reset";
@import "mixins";

body {
  background: $bg-default-color;
  color: $default-white;
}

a {
  color: $default-white;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

main {
  padding-top: 120px;
  position: relative;
  padding-bottom: 105px;

  .hero {
    border-radius: 32px;
    background: rgba(34, 34, 35, 0.44);
    backdrop-filter: blur(6.5px);
    padding: 115.415px 68.737px 79.116px 96px;

    @include tablet() {
      padding: 48px 40px 28px 48px;
    }
    @include mobile() {
      padding: 40px 24px;
    }

    .content {
      max-width: 981px;

      .title {
        font-family: DM Sans;
        font-size: 88px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        @include tablet() {
          font-size: 64px;
        }
        @include mobile() {
          font-size: 40px;
        }
      }

      .description {
        color: #b7b7b7;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 705px;
      }
    }

    .buttons-block {
      display: flex;
      justify-content: space-between;
      margin-top: 56px;
      width: 100%;

      @include mobile() {
        display: inline-flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-top: 48px;

        .button-to-form {
          padding: 15px;
          width: 100%;
        }
      }
    }
  }
}

section {
  padding: 72px 0;

  @include tablet() {
    padding: 56px 0 !important;
  }
  @include mobile() {
    padding: 24px 0 !important;
  }

  &[no-style] {
    padding: 0 !important;
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: $toxic-color 1px solid;
  backdrop-filter: blur(5.5px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(25, 25, 25, 0.74);

  .header {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    justify-items: center;

    @include tablet() {
      justify-content: space-between;
    }


    .nav-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      @include tablet() {
        display: none;
      }

      nav {
        border-radius: 50px;
        background: $bg-no-light-gray;
        padding: 16px 64px;
        display: flex;
        gap: 40px;

        a, p {
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            color: $toxic-color;
          }
        }
      }

      .buttons-block {
        display: flex;
        gap: 8px;
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;

      .btn-call {
        display: none;
        padding: 8px;
        border-radius: 100%;
        border: 1px solid $toxic-color;

        @include tablet() {
          display: block;
        }
      }

      .burger-btn {
        display: none;
        cursor: pointer;

        @include tablet() {
          display: block;
        }

        .icon-open {
          display: none;
        }
      }
    }

    @include tablet() {
      padding: 16px;
    }
  }

  .menu {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: calc(-100vh + 100%);
    overflow: scroll;

    .menu-wrapper {
      width: 100%;
      height: 100%;
      margin-top: 80px;
      background: $bg-gray;

      @include tablet() {
        display: flex;
      }
      @include mobile() {
        display: block;
      }

      .menu-content {
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        flex: 2;

        .menu-link {
          font-family: Open Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          margin-top: 18px;

          &:first-child {
            margin-top: 23px;
          }
        }

        .menu-dropdown {
          margin-top: 18px;

          .dropdown-title {
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            &:after {
              content: url("./../image/header/chevron-down.svg");
              width: 24px;
              height: 24px;
              margin-left: 8px;
            }
          }

          .dropdown-content {
            display: none;
            flex-direction: column;
            width: 200px;
            gap: 5px;
            margin-top: 18px;
            flex: 1;

            .menu-child-dropdown {
              padding: 16px;
              background: $bg-light-gray;
              display: inline-block;
              border-radius: 100px;

              .menu-child-title {
                font-family: Open Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                display: flex;
                justify-content: center;

                &:after {
                  content: url("./../image/header/chevron-down.svg");
                }
              }

              .menu-child-content {
                display: none;
                flex-direction: column;
                margin-top: 8px;
                gap: 16px;

                .menu-child-link {
                  text-edge: cap;
                  font-family: Open Sans;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }

              &.open {
                border-radius: 24px;

                .menu-child-title {
                  color: $toxic-color;

                  &:after {
                    content: url("./../image/header/chevron-down-green.svg");
                  }
                }

                .menu-child-content {
                  display: flex;

                  &:after {

                  }
                }
              }
            }
          }

          &.open {
            .dropdown-title {
              color: $toxic-color;

              &:after {
                content: url("./../image/header/chevron-down-green.svg");
              }
            }

            .dropdown-content {
              display: flex;
            }
          }
        }
      }

      .menu-buttons {
        margin: {
          right: 32px;
          left: 32px;
        }
        padding: {
          top: 24px;
        };
        display: flex;
        flex-direction: column;
        gap: 5px;

        @include mobile() {
          border-top: $light-toxic-color 1px solid;
          margin-top: 40px;
        }

        .button {
          display: flex;
          align-items: center;
          height: 48px;
          padding: 8px 16px;
        }
      }
    }
  }

  &.open-burger {
    backdrop-filter: unset;
    box-shadow: unset;
    background: unset;

    .header {
      backdrop-filter: blur(5.5px);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background: rgba(25, 25, 25, 0.74);

      .button-wrapper {
        .burger-btn {
          .icon-close {
            display: none;
          }

          .icon-open {
            display: block;
          }
        }
      }
    }

    .menu {
      display: block;
    }
  }

  .services-header {
    display: none;
    position: absolute;
    background: $bg-no-light-gray;
    box-shadow: 0 40px 37px -40px rgba(216, 245, 32, 0.28);
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: $toxic-color 1px solid;

    .container {
      padding: {
        top: 40px;
        bottom: 44px;
      };
      display: flex;

      .section-services {
        flex: 1;

        .section-header {
          font-family: Open Sans;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          gap: 10px;

          &[hover]:hover {
            color: $toxic-color;
          }

          &[link] {

            p {
              border-radius: 100%;
              border: $default-white 1px solid;
              width: 32px;
              height: 32px;
              position: relative;

              &::after {
                content: url("./../image/common/arrow-up-right-white.svg");
                position: absolute;
                width: 24px;
                height: 24px;
                top: -20%;
                left: 4px;
              }
            }
          }

          &[hover][link]:hover {

            p {
              border-color: $toxic-color;
              background: $toxic-color;

              &::after {
                content: url("./../image/common/arrow-up-right.svg");
              }
            }
          }
        }

        .content {
          margin-top: 32px;
          display: flex;
          flex-direction: column;
          gap: 24px;

          a {
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $text-light-gray;

            &:before {
              content: '// '
            }
          }
        }

        &:not(:first-child) {
          padding-left: 130px;
          border-left: $border-no-light-gray 1px solid;
        }
      }
    }
  }

  &[open-services] {
    .services-header {
      display: block;
    }

    .open-header-services {
      color: $toxic-color;
    }
  }
}

%container {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
}

.container {
  @extend %container;
}

.container-inner {
  @extend %container;
}

.button {
  padding: 8px 16px;
  border-radius: 100px;
  border: $toxic-color 1px solid;
  color: $toxic-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.button-active {
  color: #252529 !important;
  background-color: $toxic-color !important;
}

.button-rounded {
  border: none;
  border-radius: 100%;
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;

  &[border] {
    border: $toxic-color 1px solid;
  }
}

.button-active {
  img[active] {
    display: block;
  }

  img[no-active] {
    display: none;
  }
}

.button:not(.button-active), .button-rounded:not(.button-active) {
  img[active] {
    display: none;
  }

  img[no-active] {
    display: block;
  }
}

.button-animated {
  box-shadow: 0 2px 9px 0 rgba(216, 245, 32, 0.49);
  animation: hoverWave linear 1.5s infinite;
}

@keyframes hoverWave {
  0% {
    box-shadow:
            0 4px 5px rgba(216, 245, 32, 0.54),
            0 0 0 0 rgba(216, 245, 32, 0.42),
            0 0 0 0 rgba(216, 245, 32, 0.42);
  }
  100% {
    box-shadow:
            0 4px 5px rgba(216, 245, 32, 0.5),
            0 0 0 15px transparent,
            0 0 0 8px rgba(216, 245, 32, 0.3);
  }
}

%title-font {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h2-title {
  @extend %title-font;

  font-size: 40px;
  text-transform: uppercase;
}

.h3-title {
  @extend %title-font;

  font-size: 16px;
}

.text-toxic {
  color: $toxic-color;
}

.text-gray {
  color: $text-gray;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

#services {
  background: $bg-gray;
  padding: 72px 40px;

  .buttons-block {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    overflow: scroll;

    @include mobile() {
      margin-top: 32px;
    }
  }

  #swiper-services {
    .block-cards {
      .block-card {
        background-color: $bg-light-gray;
        border-radius: 56px;
        padding: 56px 48px;
        margin: 25px;
        border: 1px solid rgba(255, 0, 0, 0);

        .title-block {
          color: $toxic-color;
          font-family: Open Sans;
          font-size: 25px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding-bottom: 24px;

          br {
            display: none;

            @include mobile() {
              display: block;
            }
          }
        }

        .main-block {
          padding: 24px 0;
          border: {
            top: $border-darkness-gray 1px solid;
            bottom: $border-darkness-gray 1px solid;
          }

          .item {
            display: flex;
            align-items: center;
            gap: 8px;

            .name {
              color: $text-light-gray;
              font-family: Open Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              white-space: nowrap;
            }

            .value {
              color: $toxic-color;
              font-family: Open Sans;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          .item:not(:last-child) {
            margin-bottom: 16px;
          }
        }

        .footer-block {
          padding-top: 24px;

          .footer-text {
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $text-light-gray;
          }

          .button {
            margin-top: 24px;
            width: 100%;

            &:after {
              content: url('../image/common/arrow-up-right-green.svg');
              width: 24px;
              height: 24px;
            }
          }
        }

        &:hover {
          border: 1px solid #D8F520;
          box-shadow: 0 4px 35px 0 rgba(216, 245, 32, 0.44);

          .footer-block {
            .button {
              @extend .button-active;

              &:after {
                content: url('../image/common/arrow-up-right.svg');
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }

  .navigation-block {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 68px;

    @include mobile() {
      justify-content: space-between;
    }
    @include tablet() {
      margin-top: unset;
    }
  }
}

#about {
  overflow-x: hidden;

  .container {
    position: relative;

    .about {
      .content {
        padding-top: 71px;
        width: 50%;

        @include tablet() {
          width: 100%;
          padding-top: 32px;
        }

        .h2-title {
          margin-bottom: 15px;
        }

        .description {
          color: #ccc;
          font-family: Open Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 48px;

          @include mobile() {
            margin-bottom: 32px;
          }
        }

        .button-to-form {
          padding: 15px;

          @include mobile() {
            width: 100%;
          }
        }

        padding-bottom: 32px;
      }
    }

    .unsplash-image {
      position: absolute;
      top: 0;
      bottom: 0;
      right: -500%;
      left: 55%;
      width: 100%;
      height: 100%;

      @include tablet() {
        display: none;
      }
    }
  }

  .unsplash-image-out {
    display: none;
    width: 100%;
    margin-bottom: 16px;

    @include tablet() {
      display: block;
    }
  }

  .moving-tape {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    @include tablet() {
      margin-bottom: 16px;
    }

    p {
      font-family: DM Sans;
      font-size: 219px;
      font-style: normal;
      font-weight: 400;
      line-height: 91.7%; /* 200.823px */
      text-transform: uppercase;
      user-select: none;
      background: -webkit-linear-gradient(180deg, #595955 0%, #889014 92.17%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      padding-left: 100%;
      animation: marquee 10s linear infinite;

      @include tablet() {
        font-size: 128px;
      }
      @include mobile() {
        font-size: 96px;
      }
    }
  }
}

#why-us {
  background: $bg-gray;

  .content-block {
    margin-top: 40px;
    display: flex;
    gap: 29px;

    .item {
      padding: 32px;
      border-radius: 40px;
      background: $bg-light-gray;

      .item-title {
        color: $toxic-color;
        font-family: Open Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .item-content {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .item-description {
          font-family: Open Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        img {
          border-radius: 24px;
          width: 100%;
        }
      }
    }

    @include tablet() {
      flex-direction: column;
    }

    .item:nth-child(2) {
      .item-content {
        flex-direction: column-reverse;

        @include tablet() {
          flex-direction: column;
        }
      }
    }
  }
}

#stage-of-cooperation {
  .header-block {
    display: flex;

    @include tablet() {
      flex-direction: column;
      gap: 24px;
    }

    .h2-title {
      flex: 2;
    }

    .description {
      flex: 1;
      color: $text-gray;
      font-family: Open Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .content {
    display: flex;

    @include tablet() {
      flex-direction: column;
      margin-top: 32px;
    }

    .item {
      flex: 1;
      border-left: $border-gray 1px solid;

      @include tablet() {
        width: 50%;
        &:nth-child(even) {
          margin-left: 50%;
        }
        border-left: unset;
      }
      @include mobile() {
        width: unset;
        &:nth-child(even) {
          margin-left: unset;
        }
      }

      .content-block {
        margin-bottom: 28px;

        @include tablet() {
          margin-top: 0 !important;
        }

        .title {
          margin-left: 8px;
          margin-bottom: 16px;
          color: $text-no-white-color;
          font-family: DM Sans;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

        .block {
          padding: 24px;
          border-radius: 48px;
          background: $bg-light-gray;
          margin: 0 8px;

          .title {
            all: unset;
            color: $toxic-color;
            font-family: Open Sans;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          .description {
            font-family: Open Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}

#work-with-us {
  color: $bg-gray;
  background: $toxic-color;

  .container {
    display: flex;
    justify-content: space-between;

    & > div {
      flex: 1;

      .h2-title {
        font-family: Open Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }

      .title {
        font-family: Open Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }

      .description {
        color: $bg-light-gray;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .chevron-block {
      display: flex;
      align-items: end;

      .chevrons {
        display: flex;
        gap: -20px;
        justify-content: end;

        img {
          margin-left: -20px;
        }
      }
    }

    .button-block {
      display: flex;
      align-items: end;
      justify-content: end;

      .button {
        background: $bg-light-gray;
        padding: 16px;
      }
    }

    div:first-child {
      flex: 2;
    }
  }

  @include tablet() {
    .container {
      flex-direction: column;
      gap: 24px;

      & > div {
        .h2-title {
          font-size: 32px;
        }

        .title {
          margin-top: 18px;
          margin-bottom: 16px;
          font-size: 24px;
        }
      }

      .chevron-block {
        display: none;
      }

      .button-block {
        justify-content: start;

        @include mobile() {
          button {
            flex: 1;
          }
        }
      }
    }
  }
}

#our-projects {
  background: $bg-gray;

  .buttons-block {
    margin-top: 32px;
    padding-bottom: 12px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-direction: row;
    overflow: scroll;

    @include mobile() {
      justify-content: unset;
    }

    .button {
      height: 36px;
      padding: 16px;
      white-space: nowrap;
    }
  }

  .container-inner {
    @include tablet() {
      padding: 0;
    }

    #swiper-our-project {
      .swiper-slide {
        .project-block {
          margin: 25px;
          border: 1px transparent solid;
          display: flex;
          align-items: end;
          padding: 30px 24px;
          height: 546px;
          position: relative;

          @include tablet() {
            margin: 0;
          }

          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }

          .our-project-block {
            z-index: 10;

            .title {
              font-family: DM Sans;
              font-size: 28px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
            }

            .link-block {
              margin: 16px 0;
              display: flex;
              gap: 16px;

              .button {
                padding: 16px;
                cursor: auto;

                @include mobile() {
                  padding: 10px;
                  font-size: 12px;
                }
              }
            }

            .description-block {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .description {
                color: $text-no-white-color;
                font-family: Open Sans;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }

              .button-block {
                z-index: 10;

                .button {
                  margin-left: 5px;
                  background: $text-no-white-color;

                  &:before {
                    content: url("./../image/common/arrow-up-right-40px.svg");
                  }
                }
              }

            }
          }

          .shadow {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(0deg, #191919 30.2%, rgba(25, 25, 25, 0.60) 62.59%, rgba(25, 25, 25, 0.00) 99.91%);
          }

          &:hover {
            border: 1px solid #D8F520;
            box-shadow: 0 4px 35px 0 rgba(216, 245, 32, 0.44);

            @include tablet() {
              border: 1px solid transparent;
              box-shadow: unset;
            }

            .our-project-block {
              .description-block > .button-block > .button {
                background: $toxic-color;
              }
            }
          }
        }
      }
    }
  }

  .navigation-block {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 48px;

    @include mobile() {
      justify-content: space-between;
    }
  }
}

#faq {
  overflow-x: hidden;

  position: relative;

  .green-block {
    position: absolute;
    top: 0;
    right: -500%;
    left: 70%;
    bottom: 0;
    border-radius: 32px;
    background: rgba(216, 245, 32, 0.40);
  }

  .h2-title {
    margin-bottom: 40px;
  }

  .faq-list {
    .faq-item {
      .title {
        display: flex;
        color: $toxic-color;
        align-items: center;
        gap: 15px;
        font-family: Open Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;

        .button-rounded {
          background: $bg-light-gray;
        }
      }

      .content {
        color: $text-light-gray;
        margin-top: 40px;
        font-family: Open Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: none;
      }

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      &:not(:first-child) {
        border-top: $toxic-color 1px solid;
        padding-top: 24px;
      }
    }

    .faq-item-active {
      .content {
        display: block;
      }
    }
  }

  .faq-list {
    width: 60%;
  }

  @include tablet() {
    padding-bottom: 0 !important;

    .faq-list {
      width: 100%;
    }
    .green-block {
      margin-top: 16px;
      position: static;
      width: 100%;
      height: 375px;
      border-radius: unset;
    }
  }
}

#reviews {
  background: $bg-gray;
  position: relative;
  overflow: hidden;

  .container {
    position: relative;

    .h2-title {
      margin-bottom: 32px;
    }

    #swiper-reviews {
      .review-item {
        .header-block {
          display: flex;
          gap: 24px;

          .image-block {
            flex: 1;

            .image {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 24px;
              border: 0.5px solid $toxic-color;
            }
          }

          div {
            flex: 2;

            .section-header {
              font-family: Open Sans;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin-bottom: 16px;
            }

            .rating {
              display: flex;
              gap: 4px;
            }
          }
        }

        .content {
          margin: 16px 0;
          font-family: Open Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .date {
          color: $text-gray;
          font-family: Open Sans;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .navigation-block {
      position: relative;
      margin-top: 24px;
      display: flex;
      justify-content: center;
      gap: 48px;
      z-index: 1;

      @include mobile() {
        justify-content: space-between;
      }
    }

    .bg-image102 {
      position: absolute;
      bottom: -100px;
      right: -50px;
    }

    .bg-star3 {
      position: absolute;
      left: -200px;
      top: -200px;
    }
  }
}

#order-the-service {
  position: relative;
  padding-top: 100px !important;
  padding-bottom: 150px !important;

  @include tablet() {
    padding-top: 65px !important;
    padding-bottom: 124px !important;
  }
  @include mobile() {
    padding-top: 40px !important;
    padding-bottom: 64px !important;
  }

  #particles-js-duplicate {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .modal {
    border-radius: 32px;
    background: rgba(34, 34, 35, 0.44);
    backdrop-filter: blur(6.5px);
    padding: 90px 105px;

    @include tablet() {
      padding: 40px 24px;
    }

    .content {
      display: flex;
      gap: 50px;
      margin-top: 40px;

      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include mobile() {
        flex-direction: column;
        gap: 24px;
      }

      %default {
        border-radius: 32px;
        box-shadow: 0 0 5px 0 rgba(216, 245, 32, 0.40);
        background: $bg-no-black;
        padding: 16px;
        display: flex;
      }

      %placeholder-text {
        color: $text-gray;
      }

      .input-base {
        @extend %default;

        input {
          all: unset;
          margin-left: 10px;
          width: 100%;

          &::placeholder {
            @extend %placeholder-text;
          }
        }
      }

      .select-base {
        @extend %default;

        cursor: pointer;
        position: relative;

        .select-text {
          @extend %placeholder-text;

          height: 100%;
          margin-left: 10px;
          margin: {
            left: 10px;
            top: auto;
            bottom: auto;
          };
        }

        .dropdown-arrow {
          margin-left: auto;
        }

        .dropdown-body {
          @extend %default;

          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          width: 100%;
          padding: 0;
          display: none;
          margin-top: 2px;
          cursor: default;
          background-color: $bg-no-light-gray;
          overflow-x: hidden;

          .dropdown {
            margin: 0;

            .dropdown-item {
              cursor: pointer;
              padding-bottom: 16px;
              padding-top: 16px;
              padding-left: 32px;

              &:hover {
                background: $toxic-color;
                color: $text-black;
              }

              &:not(:last-child) {
                border-bottom: $border-darkness-gray 1px solid;
              }
            }
          }
        }

        &.select-open {
          .dropdown-body {
            display: block;
          }

          .dropdown-arrow {
            rotate: 180deg;
          }
        }
      }

      .textarea-base {
        @extend %default;

        textarea {
          all: unset;
          width: 100%;
          height: 100%;

          &::placeholder {
            @extend %placeholder-text;
          }
        }
      }

      .inputs-block-1, .inputs-block-2 {
        flex: 1;

        .input-base, .textarea-base, .select-base, .button {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }
      }

      .inputs-block-2 {
        .button {
          width: 100%;
        }
      }

      .button {
        padding: 16px;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
}

footer {
  background: $bg-no-light-gray;

  .footer-start-block {
    padding: 60px 0;

    .container {
      display: flex;
      justify-content: space-between;

      @include tablet() {
        flex-wrap: wrap;
      }

      .about-block {
        max-width: 310px;

        @include tablet() {
          width: 100%;
          max-width: unset;
          margin-bottom: 48px;
          display: flex;
          gap: 24px;
        }
        @include mobile() {
          flex-direction: column;
        }

        .about {
          .title {
            margin-top: 57px;
            margin-bottom: 17px;

            @include tablet() {
              margin: 0;
            }
          }

          .content {
            font-family: Open Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .navigation-block {
        max-width: 405px;
        width: 100%;
        display: flex;
        gap: 15px;

        @include tablet() {
          width: 50%;
        }
        @include mobile() {
          width: 100%;
          margin-bottom: 40px;
        }

        .sitemap-block, .services-block {
          flex: 1;

          h3 {
            margin-bottom: 16px;
          }

          a {
            display: block;
            font-family: Open Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
          }

          a:before {
            content: '// ';
            color: $toxic-color;
          }

          a:not(:first-child) {
            padding-top: 8px;
          }

          a:not(:last-child) {
            padding-bottom: 8px;
            border-bottom: $border-darkness-gray 1px solid;
          }
        }

        .toxic-tape {
          width: 1px;
          margin: {
            top: 32px;
            right: 32px;
            left: 40px;
          };
          height: calc(100% - 32px);
          background-color: $toxic-color;
        }
      }

      .contacts-block {
        max-width: 336px;
        width: 100%;

        @include tablet() {
          width: 50%;
        }
        @include mobile() {
          width: 100%;
          max-width: unset;
        }

        .contact-item {
          margin: 24px 0;

          .name {
            color: $text-gray;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .value {
            color: $text-no-white-color;
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .button-to-form {
          padding: 16px;

          @include mobile() {
            width: 100%;
          }
        }
      }
    }
  }

  .footer-end-block {
    padding: 16px 0;
    border-top: $border-light-gray 1px solid;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile(){
        align-items: start;
      }

      .text-block {
        display: flex;
        color: $text-gray;
        font-family:
                Open Sans,
                serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include mobile() {
          flex-direction: column;
        }

        .first-text {
          padding-right: 40px;
          border-right: $border-darkness-gray 1px solid;

          @include mobile() {
            padding-right: unset;
            border-right: unset;
          }
        }

        .last-text {
          padding-left: 30px;

          @include mobile() {
            padding-left: unset;
          }
        }

        .first-text,
        .last-text {
          display: flex;
          align-items: center;
        }
      }

      .image-block {
        display: flex;
        gap: 8px;
      }
    }
  }
}

//@include tablet() {
//  body {
//    display: none;
//  }
//}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
